body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    background-color: #ffffff;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d8d8d8;
}

span {
    display: block;
}

hr {
    color: 2px solid rgb(213, 221, 213);
}

.container {
    max-height: 100vh;
}

.cursor-pointer {
    cursor: pointer;
}
.btn-danger {
    background-color: #d55151;
}

/* card  css */
.card {
    position: absolute;
    border-radius: 20px 20px 20px 20px !important;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
    width: 500px;
    border: none;
    --bs-card-border-color: unset !important;
    margin-top: 13rem;
}
.card-header {
    background-color: #f6f6f6 !important;
    color: #545454 !important;
    border-radius: 20px 20px 20px 20px !important;
}

.card-body a h4 {
    color: #4a4a4a !important;
}
.card-body > hr {
    margin: 1rem 21px !important;
}
.card-footer {
    padding: unset !important;
    background-color: unset !important;
}

/* ----------------------landing  page css starts --------------------*/
.landingpage-container {
    background-image: linear-gradient(#08066e, rgb(130 90 218), white);
    z-index: 1;
    height: 100vh;
    position: relative;
}
/* ----------------------landing  page css ends---------------------- */

/*---------------------- profile page css starts---------------------------- */
.aside {
    height: 90vh;
    background-color: #4252c8;
    color: #fff;
    align-items: center;
    border-radius: 25px;
    width: 220px;
    display: block;
    width: 400px;
    font-size: 30px;
}
.aside > hr {
    width: 60%;
    height: 2px;
    margin: 1rem 20px !important;
}
.aside .aside-list > span {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    margin: 0 20px 0 20px;
}
.aside div:nth-child(1) {
    margin-top: 250px;
}

/* To set icon at the right side of the div*/
.aside .aside-list .icon {
    margin-left: 10px;
    right: -15px;
    top: -5px;
    width: 32px;
    height: 32px;
    border: 1px solid rgb(239, 234, 234);
    border-radius: 50%;
    background-color: #fff;
    color: rgb(55, 51, 51) !important;
    font-size: 20px;
}
.aside-list {
    position: relative;
}
.aside-right-bottom > hr {
    margin: 1rem 25px !important;
}
.div-icon {
    top: -14px;
    right: -75px;
    position: absolute;
    width: 100px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 1;
}

.vl {
    border-left: 2px solid rgb(213, 221, 213);
    height: 500px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-model {
    position: absolute;
    padding: 10px;
    top: 10vh;
    height: 380px;
    width: 300px;
    background-color: #fff;
    right: 5vw;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
    z-index: 1;
}
.profile-model > hr {
    margin: 1rem 25px !important;
}

.profile-middle-hr {
    margin: 1rem 12px !important;
}
.profile-model h4,
.profile-model h6,
.aside-right h4,
.aside-right h6 {
    color: #4a4949;
}

.profile-header {
    font-size: 18px;
    color: #4a4949;
}

/*---------------------- profile page css ends---------------------------- */

/* ----------------------posts ,gallery and toDo page css starts ----------*/
.posts,
.gallery,
.todo {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.posts h1,
.gallery h1,
.todo h1 {
    font-weight: 700;
    font-size: 6rem;
    color: #eeeeee;
    vertical-align: middle;
}
/* ----------------------posts ,gallery and toDo page css ends ----------*/
/*---------------------- chat bot css starts--------------------------------- */
.chat-widget-container {
    position: absolute;
    width: 255px;
    bottom: 0;
    float: right;
    right: 5vw;
}
.chat-widget-header {
    position: absolute;
    right: 9px;
    top: -50px;
    float: right;
    padding: 10px;
    height: 50px;
    width: 255px;
    background-color: #2c65c8;
    color: #fff;

    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 18px;
}
.chat-widget-body {
    float: right;
    overflow-y: scroll;
    padding: 10px;
    height: 245px;
    width: 255px;
    background-color: #fff;
    border: 1px solid #2c65c8;
    border-bottom: 0;
}
.chat-widget-body span {
    display: block;
    margin: 5px 0 5px 0;
}
.chat-show {
    bottom: 0;
}
.chat-widget-body span img,
.chat-widget-header-user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.chat-widget-container-user {
    cursor: pointer;
    bottom: 250px;
}
.chat-widget-header-user {
    bottom: 192px;
    padding: 10px;
    position: absolute;
    height: 50px;
    right: 349px;
    width: 255px;
    background-color: #2c65c8;
    color: #fff;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 18px;
}
.chat-widget-body-user {
    overflow-y: scroll;
    bottom: 42px;
    cursor: pointer;
    position: absolute;
    float: right;
    overflow-y: scroll;
    padding: 10px;
    right: 349px;
    height: 150px;
    width: 255px;
    background-color: #fff;
    border: 1px solid#2C65C8;
    border-bottom: 0;
}
.chat-widget-message-user {
    position: absolute;
    width: 255px;
    float: right;
    overflow-y: scroll;
    padding: 10px;
    right: 349px;
    border: 1px solid#2C65C8;
    bottom: 0;
}
.chat-widget-message-user input {
    width: 207px;
    background-color: #fff;
    outline: none;
    border: 0;
}
.chat-widget-message-user-icon {
    color: rgb(12, 111, 240);
}
.online {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
}
.offline {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
}
.chat-background {
    background-color: #f1f1f1;
}
.active {
    color: #fff;
}
.inactive {
    color: #9696df;
}
/*---------------------- chat bot css ends--------------------------------- */
